# Section 4 Course

In [1]:
import pandas as pd  
import os

In [2]:
mainpath = "datasets/"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(mainpath, filename)

In [3]:
data = pd.read_csv(fullpath)

In [4]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

# Ejemplo de parametros read_csv
read.csv(filepath = "C:\Users\sandi\Data Science Course\datasets\titanic)", sep = ",", dtype={"ingresos":np.float64, "edad":np.int32},header=0, names={"ingresos","edad"}, skiprows = 12, index_col= None, skip_blank_lines=False, na_filter=False)

In [5]:
data_2 = pd.read_csv(mainpath + "customer-churn-model/Customer Churn Model.txt")

In [6]:
data_2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [7]:
data_2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [8]:
data_cols = pd.read_csv(mainpath + "customer-churn-model/Customer Churn Columns.csv")
data_cols_list = data_cols["Column_Names"].tolist()
data_cols_list
data_2 = pd.read_csv(mainpath + "customer-churn-model/Customer Churn Model.txt", header = None, names = data_cols_list)
data_2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Carga de datos usando open

In [9]:
data3 = open(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt",'r')

In [10]:
cols = data3.readline().rstrip().split(",")

In [11]:
n_cols = len(cols)
n_cols

21

In [12]:
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []
main_dict

{'State': [],
 'Account Length': [],
 'Area Code': [],
 'Phone': [],
 "Int'l Plan": [],
 'VMail Plan': [],
 'VMail Message': [],
 'Day Mins': [],
 'Day Calls': [],
 'Day Charge': [],
 'Eve Mins': [],
 'Eve Calls': [],
 'Eve Charge': [],
 'Night Mins': [],
 'Night Calls': [],
 'Night Charge': [],
 'Intl Mins': [],
 'Intl Calls': [],
 'Intl Charge': [],
 'CustServ Calls': [],
 'Churn?': []}

In [13]:
for linea in data3:
    values = linea.rstrip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter +=1
print("El data set tiene %d filas y %d columnas"%(counter, n_cols))

El data set tiene 3333 filas y 21 columnas

# Read Files From URL'S

In [15]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [17]:
medals_data = pd.read_csv(medals_url)

In [19]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [20]:
import urllib3 #Used for urls

In [27]:
http = urllib3.PoolManager()
r = http.request('GET', medals_url)#Make a request to the http server
response = r.data

In [32]:
#From binary string to normal string
str_data = response.decode('utf-8')

In [36]:
#Separar por salto de linea
lines = str_data.split("\n")

In [40]:
col_names = lines[0].split(",")
n_col = len(col_names)

In [55]:
#Empty dictionary to process data
counter = 0
main_dict = {}
for col in col_names:
    main_dict[col] = []

In [68]:
#Fill the dictionary
for line in lines:
    if counter > 0:
        values = line.rstrip().split(",")
        for i in range(len(col_names)):
            main_dict[col_names[i]].append(values[i])        
    counter +=1

In [69]:
#Convert dictionary to dataframe
medals_df = pd.DataFrame(main_dict)
medals_df.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
2,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
3,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
4,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze